<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>{{ pageTitle }}</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <p>After moving into our current flat in September 2015, Sasha and I neglected our dating life in favour of working on redecorating and furnishing the flat.</p>
                    <p>Realising we needed to change, we made a pact to try two new date night places each month (I talk about this a little more in my blog post <a href="http://blog.camerondoyle.co.uk/local">Local</a>). This project, developed in order for me to learn Angular 2, chronicles where we've been on our date nights since then.</p>
                    <p>This app allows sorting and viewing of our date nights in both <a routerLink="/list" routerLinkActive="active">list view</a> and <a routerLink="/map" routerLinkActive="active">map view</a>.
                    
                </div>
            </div>
        </div>
    </div>
</div>