<div>
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/" routerLinkActive="active">{{ pageTitle }}</a>
            <div class="nav navbar-right">
                <a class="navbar-brand" routerLink="/list" routerLinkActive="active">List View</a>
                <a class="navbar-brand" routerLink="/map" routerLinkActive="active">Map View</a>
            </div>
        </div>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>