<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{ pageTitle }}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">Filter:</div>
                <div class="col-md-4">
                    <input type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Filter applied: {{listFilter}}</h3>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Location</th>
                            <th>Visit Date</th>
                            <th>Type</th>
                            <th>Price</th>
                            <th>Rating (C)</th>                        
                            <th>Rating (S)</th>
                            <th>Mapped?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let dateNight of dateNights'>
                            <td><a [routerLink]="['/date', dateNight.dateNightId]">{{ dateNight.locationName }}</a></td>
                            <td>{{ dateNight.visitDate | lowercase }}</td>
                            <td>{{ dateNight.type }}</td>
                            <td>{{ dateNight.price }} / 5</td>
                            <td>{{ dateNight.starRatingCameron }} / 5</td>                        
                            <td>{{ dateNight.starRatingSasha }} / 5</td>
                            <td><span *ngIf='dateNight.onMap'>Yes</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>