<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-primary" *ngIf='dateNight'>
        <div class="panel-heading">
            <h1>{{ dateNight.locationName }}</h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>Visited on: {{ dateNight.visitDate }}</li>
                        <li>Restaurant type: {{ dateNight.type }}</li>
                        <li>Average Cost: {{ dateNight.price }} / 5</li>
                        <li>Website: {{ dateNight.website }}</li>
                        <li>Address: {{ dateNight.address }}</li>
                        <li>Rating (Cameron): {{ dateNight.starRatingCameron }} / 5</li>
                        <li>Rating (Sasha): {{ dateNight.starRatingSasha }} / 5</li>
                    </ul>
                    <p>{{ dateNight.review }}</p>
                </div>
            </div>
        </div>
    </div>
</div>